/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --title-color: #db00ff;
  --text-color: #000028;
  --bg-text-color: #ff0070;
  --main-text-color: #f1b2ce;
  --display-rec: block;
  --corner-color: #ff0070;
  --accent-color: #ff0070;
  --shadow-color: #ff0070;
  --link-shadow: #ff0070;
  --button-hover: #FF007066;;
}
