/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #fff1f7;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --bg-text-color: #ff8dcb;
  --main-text-color: #353430;
  --display-rec: none;
  --corner-color: #353430;
  --accent-color: #353430;
  --shadow-color: #ff0070;
  --link-shadow: #ff8dcb;
  --button-hover: #32312D66;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color:  #fff1f7;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --bg-text-color: #ff8dcb;
    --main-text-color: #353430;
    --display-rec: none;
    --corner-color: #353430;
    --accent-color: #353430;
    --shadow-color: #ff0070;
    --link-shadow: #ff8dcb;
    --button-hover: #32312D66;
  }
}
